{% extends "bootstrap/base.html" %}

{% block title %}
Rule File
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
{% endblock %}

{% block content %}
<header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="https://zingmind.com/"><img class="navbar-brand" src="../static/zingmind.png"   ALT="align box" ALIGN=CENTER></a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <div class="btn-group" role="group">
                <!-- <div class="dropdown">
                  <button class="login_button dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select Here &#9660;
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                
                  
                    <li><a class="dropdown-item" href="{{url_for('login')}}">Logout</a></li>
                  </div>
                </div> -->
               </div>
              <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <!-- <form  name="form0" method="POST"  action="{{url_for('Admin_data_validation')}}" >
                  <a href="{{url_for('Admin_data_validation')}}"><button type="submit" name="Submitbutton"   value="SingleDataSource" class="login_button">SingleDataSource</button></a>&nbsp;&nbsp;
                  <a href="{{url_for('Admin_data_validation')}}"><button type="submit" name="Submitbutton"  value="DoubleDataSource" class="login_button">DoubleDataSource</button></a>
                </form> -->
              </div>
              <a href="{{url_for('login')}}"><button type="submit" id="logout" class="logout_button">Logout</button></a>&nbsp;&nbsp;
              </ul>
          </div>
        </div>
      </nav>
    <form method="POST" name="form2" id="form2" action="{{url_for('create_json')}}" style="padding-top: 50px; margin-left: 30px;">
            
        <label for="Data Source">Data Source</label>
        <input type="text" id="Data Source" name="DataSource" value={{file_name}} ></input><br>
        
        <label for="Data Object">Data Object</label>
        <input type="text" id="Data Object" name="DataObject" value='table' ></input><br>
       
      
        <!-- <button type="submit" name="button" id="button">submit</button> 
        <button type="button" onclick="addrow()">Add a new row </button>
        <button type="button" onclick="deleterow()">Delete row</button> -->
    

        <table id ="table"  width: 780px>
            <colgroup>
                <col style="width: 30px">
                <col style="width: 50px">
                <col style="width: 20px">
                <col style="width: 60px">
                <col style="width: 20px">
                <col style="width: 156px">
                <col style="width: 80px">
                <col style="width: 84px">
                
            </colgroup>
            <thead>
                <tr>
                    <th>&nbsp &nbsp &nbsp &nbsp </th>
                    <th>Sr no. </th><span>&nbsp;&nbsp;</span>
                    <th>Data Attribute</th><span>&nbsp;&nbsp;</span>
                    <th>Rule Name</th><span>&nbsp;&nbsp;</span>
                    <th>Order</th><span>&nbsp;&nbsp;</span>
                    <th>Data Type</th><span>&nbsp;&nbsp;</span>
                    <th>Validation Operator</th><span>&nbsp;&nbsp;</span>
                    <th>Value to match</th><span>&nbsp;&nbsp;</span>
                </tr>
            </thead>
            <tbody>
                 {%for i in range(len)%} 
                
                <tr>
                    <td>
                        <input type="checkbox" name="checkbox"/>
                    </td>
                    <td>
                        <label id="srno{{i+1}}" aria-readonly="">{{i+1}}</label>
                    </td>
                    <td>
                        <input type="text" id="da{{i+1}}" name="data_attribute{{i+1}}" value="{{col_list[i]}}">
                    </td>
                    <td>
                        <input type="text" id="name{{i+1}}" name="name{{i+1}}" value="{{file_name}}_{{col_list[i]}}">
                    </td>
                    <td>
                        <input type="text" id="order{{i+1}}" name="order{{i+1}}" value = {{i+1}}>
                    </td>
                    <td>
                        <select name="datatype{{i+1}}" id="datatype{{i+1}}" onchange="dtchange('{{i+1}}')">
                            <option value="{{datatype_list[i]}}">{{datatype_list[i]}}</option>
                            <option value='string'>string</option>
                            <option value='int'>int</option>
                            <option value='float'>float</option>
                            <option value='double'>double</option>
                            <option value='boolean'>boolean</option>
                            <option value='date'>date</option>
                            <option value='datetime'>datetime</option>
                        </select>
                    </td>
                    <td>
                        <!-- {% if datatype_list[i] == 'String' %} -->
                        <select name="valop{{i+1}}" id="valop{{i+1}}" >
                            <option value='None'>None</option>
                            <option value='Contains'>Contains</option>
                            <option value='Does not contain'>Does Not Contain</option>                            
                            <option value='Regular Expression'>Regular expression</option>
                            <option value='Not Null'>Not Null</option>
                            <option value='Null'>Null</option>
                            <option value='Does not equals to'>Does not equals to</option>
                            <option value='Equals to'>Equals to</option>
                            <option value='Boolean'>Boolean</option>
                        </select>
                        
                        <!-- {% else %} -->
                        <select name="valop{{i+1}}" id="valop{{i+1}}" onchange="valopchange('{{i+1}}')">
                            <option value='None'>None</option>
                            <option value='Greater than'>greater than</option>
                            <option value='Less than'>less than</option>
                            <!-- <option value='Between'>Between</option> -->
                            <option value='Equals to'>Equals to</option>
                            <option value='Not Null'>Not Null</option>
                            <option value='Null'>Null</option>
                            <option value='Regular expression'>Regular expression</option>
                            <option value='Float'>Float</option>
                            <option value='Boolean'>Boolean</option>
                        </select>
                        <!-- {% endif %} -->
                    
                    </td>
                    
                    
                    <td>
                        <input type="text" id="valtomatch{{i+1}}" name="valtomatch{{i+1}}">
                    </td>
                    <td>
                        <span>&nbsp;&nbsp;</span><a href="{{url_for('Regex')}}" target="_blank" style="color: black;"><class="login_button">Get Regex</button></a>
                    </td>
                    
                </tr>
                {%endfor%} 

            </tbody>
        </table>
        <br><br>
        <button type="submit" name="button" id="button">submit</button> 
        <span>&nbsp;&nbsp;&nbsp;</span>
        <button type="button" onclick="addrow()">Add a new row </button>
        <span>&nbsp;&nbsp;&nbsp;</span>
        <button type="button" onclick="deleterow()">Delete row</button>
    </form>
</body>

<script>


function dtchange(i) {
    
    var dt = document.getElementById("datatype"+i);
    var x = document.getElementById("table").rows.length;
    var vop = document.getElementById("valop"+i);
    var valtomatch = document.getElementById("valtomatch"+i);
    vop.length = 0;
    
    if(dt.value=="date"){
        valtomatch.type="date";
    }
    if(dt.value=="time"){
        valtomatch.type="time";
    }
    if(dt.value=="datetime"){
        valtomatch.type="datetime";
    }
    if(dt.value=="string"){
        vop.options[vop.options.length] = new Option("Contains");
        vop.options[vop.options.length] = new Option("Does not contain");
        vop.options[vop.options.length] = new Option("Regular expression");
        vop.options[vop.options.length] = new Option("Equals to");
        vop.options[vop.options.length] = new Option("Not Null");
        vop.options[vop.options.length] = new Option("Null");
        vop.options[vop.options.length] = new Option("DateTime");
        vop.options[vop.options.length] = new Option("Date");
        vop.options[vop.options.length] = new Option("Boolean");
    }
    else{
        vop.options[vop.options.length] = new Option("Greater than");
        vop.options[vop.options.length] = new Option("Less than");
        // vop.options[vop.options.length] = new Option("Between");
        vop.options[vop.options.length] = new Option("Equals to");
        vop.options[vop.options.length] = new Option("Does not equals to");
        vop.options[vop.options.length] = new Option("Not Null");
        vop.options[vop.options.length] = new Option("Null");
        vop.options[vop.options.length] = new Option("Date");
        vop.options[vop.options.length] = new Option("Year");
        vop.options[vop.options.length] = new Option("Float");
    }
    }
    
function addrow() {

var table = document.getElementById("table");
var x = document.getElementById("table").rows.length;

var row = table.insertRow();

var cell1 = row.insertCell(0);
var cell2 = row.insertCell(1);
var cell3 = row.insertCell(2);
var cell4 = row.insertCell(3);
var cell5 = row.insertCell(4);
var cell6 = row.insertCell(5);
var cell7 = row.insertCell(6);
var cell8 = row.insertCell(7);
cell1.innerHTML = "<input type=checkbox id='checkbox' name='checkbox'></input>";
cell2.innerHTML= "<label id='srno'></label>";
document.getElementById('srno').innerHTML ="   "+x;
document.getElementById('srno').id = 'srno'+x;

cell3.innerHTML = "<input type='text' id='da'  </input>";
document.getElementById('da').name = 'data_attribute'+x;
document.getElementById("da").id = 'da'+x;

cell4.innerHTML = "<input type=text id='name'></input>";
document.getElementById('name').name = 'name'+x;
document.getElementById('name').id = 'name'+x;

cell5.innerHTML = "<input type=text id='order'></input>";
document.getElementById('order').name = 'order'+x;
document.getElementById('order').value = x;
document.getElementById('order').id = 'order'+x;

cell6.innerHTML = "<select name='datatype' id='datatype'><option value='string'>string</option><option value='int'>int</option><option value='float'>float</option><option value='double'>double</option><option value='boolean'>boolean</option><option value='date'>date</option><option value='datetime'>datetime</option></select>";

document.getElementById('datatype').name = 'datatype'+x;
document.getElementById('datatype').id = 'datatype'+x;
document.getElementById('datatype'+x).onchange = function() {dtchange(x)};

cell7.innerHTML = "<select name='valop' id='valop'><option value='Contains'>Contains</option><option value='Does not contain'>does not contain</option><option value='Float'>Float</option><option value='Regular Expression'>Regular expression</option><option value='Not Null'>Not Null</option><option value='Boolean'>Boolean</option><option value='Null'>Null</option><option value='Equals to'>Equals to</option></select>";
                            
document.getElementById('valop').name = 'valop'+x;
document.getElementById('valop').id = 'valop'+x;



cell8.innerHTML = "<input type=text id='valtomatch'></input>";
document.getElementById('valtomatch').name = 'valtomatch'+x;
document.getElementById('valtomatch').id = 'valtomatch'+x;


}

var x = document.getElementById("table").rows.length;


document.getElementById('datatype'+x).onchange = function() {dtchange(x)};


function deleterow() {
 
  let num = document.getElementsByName("checkbox");
  for(var i=0;i<=num.length;i++){
    
    if (num[i].checked==true){
        
       
        document.getElementById("table").deleteRow(i+1);
  }}
 
 
  
  
}

</script>
</header>   
{% endblock %}
        
