{% extends "bootstrap/base.html" %}

{% block title %}
Single Data Validation
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
{% endblock %}

{% block content %}
<header>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="https://zingmind.com/"><img class="navbar-brand" src="../static/zingmind.png"   ALT="align box" ALIGN=CENTER></a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <div class="btn-group" role="group">
            <!-- <div class="dropdown">
              <button class="login_button dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select Here &#9660;
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
               
                <li><a class="dropdown-item" href="{{url_for('login')}}">Logout</a></li>
              </div>
            </div> -->
           </div>
          <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <form  name="form0" method="POST"  action="{{url_for('User_data_validation')}}" >
              <a href="{{url_for('User_data_validation')}}"><button type="submit" name="Submitbutton"   value="SingleDataSource" class="login_button">SingleDataSource</button></a>&nbsp;&nbsp;
              <a href="{{url_for('User_data_validation')}}"><button type="submit" name="Submitbutton"  value="DoubleDataSource" class="login_button">DoubleDataSource</button></a>
            </form>
          
           


          </div>
          <a href="{{url_for('login')}}"><button type="submit" id="logout" class="logout_button">Logout</button></a>&nbsp;&nbsp;
          </ul>
          
        
  
        
      </div>
    </div>
  </nav>
    
    <div class="container-fluid" style="margin-top:20px;">
      <div class="row">
        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

          <h1 class="page-header" >Single DataSource Validation</h1>
<div>

</div>
<form name="form1" id="form1" method="POST"  action="{{url_for('User_SingleDataSource')}}" enctype="multipart/form-data">
      
    
    <br><label>Data Source : </label>
    <select name="datasourcetype" id="datasourcetype"  onchange="data_source_type()" required>
        <option >--Choose--</option>
        <option value="CSV">CSV</option>
        <option value="XLSX">XLSX</option>
        <!-- <option value="JSON">JSON</option>
        <option value="ORACLE">ORACLE</option>
        <option value="MYSQL">MYSQL</option>
     -->
    </select><br>
    
    
    <div id="div1"></div>
    <input type='submit' form ='form1' value='submit'>
    
</form>
        </div>
      </div>
    </div>

    <script>
      function data_source_type(){
      var data_type = document.getElementById("datasourcetype");
      
      if (data_type.value=="CSV"){
          var div = document.getElementById("div1")
          div.innerHTML="";
          // var datafile = document.createElement("file");
          // datafile.innerHTML = "<br><label>Upload File</label><input type='file' name='datafile' form ='form1' id='datafile'><br>";
          
          var filepath = document.createElement("text");
        filepath.innerHTML = "<br><label>File Path : </label> <input style='display: inline;' type='file' name='DataSourcePath' id='DataSourcePath ' accept='.csv' required></input><br><br>";
        
        var delimiter = document.createElement("text");
        delimiter.innerHTML = "<label>Delimiter : </label> <input type='text' name='Delimiter' id='Delimiter'   required size='2'></input><br>";
        
        var output_file_path = document.createElement("text");
        output_file_path.innerHTML = "<label>output_file_path : </label> <input type='text' name='output_file_path' id='output_file_path'></input><br>";
        
        var select_rows = document.createElement("text");
        select_rows.innerHTML = "<br><label>skip_rows : </label> <input type='text' name='skip_rows' value='0' id='skip_rows' size='2'></input><br><br>";
        
        // div.appendChild(datafile);
        div.appendChild(filepath);
        div.appendChild(delimiter); 
        //div.appendChild(output_file_path);       
        div.appendChild(select_rows);
          
        
          
      }
      else if(data_type.value=="XLSX"){

var div = document.getElementById("div1")
div.innerHTML="";
// var datafile = document.createElement("file");
// datafile.innerHTML = "<br><label>Upload File</label><input type='file' name='datafile' form ='form1' id='datafile'><br>";
var filepath = document.createElement("text");
  filepath.innerHTML = "<br><label>File Path : </label> <input style='display: inline;' type='file' name='DataSourcePath' id='DataSourcePath ' accept='.xls, .xlsx' required></input><br><br>";


var sheet_name = document.createElement("text");
sheet_name.innerHTML = "<label><h4>Sheet_name : </h4></label> <input type='text' name='sheet_name' id='sheet_name' size='10'></input><br>";



var skip_rows = document.createElement("text");
  skip_rows.innerHTML = "<label><h4>Skip_rows : </h4></label> <input type='text' name='skip_rows' value='0' id='skip_rows' size='2' /><br>";

var Column_Address = document.createElement("text");
  Column_Address.innerHTML = "<label><h4>Column_Address : </h4></label> <input type='text' name='Column_Address' id='Column_Address' size='2' /><span> : </span> "; 

  var Column_Address1 = document.createElement("text");
  Column_Address1.innerHTML = " <input type='text' name='Column_Address1' id='Column_Address1' size='2' />"; 
// div.appendChild(datafile);
div.appendChild(filepath);
div.appendChild(sheet_name);
div.appendChild(skip_rows);
div.appendChild(Column_Address);
div.appendChild(Column_Address1);
}
      // else if(data_type.value=="JSON"){
      
      //     var div = document.getElementById("div1")
      //     div.innerHTML="";
      //     var datafile = document.createElement("file");
      //     datafile.innerHTML = "<br><label>Upload File</label><input type='file' name='datafile' form ='form1' id='datafile'><br>";
          
      //     var filepath = document.createElement("text");
      //     filepath.innerHTML = "<br><label>File Path</label><input type='text' name='DataSourcePath' id='DataSourcePath'></input><br>";
      
      //     div.appendChild(datafile);
      //     div.appendChild(filepath);
      // }
      // else if(data_type.value=="MYSQL" || data_type.value=="ORACLE"){
          // var div = document.getElementById("div1")
          // div.innerHTML="";
          
          // var server = document.createElement("text");
          // server.innerHTML = "<br><label>Server </label><input type='text' name='Server' id='Server'></input><br>";
      
          // var database = document.createElement("text");
          // database.innerHTML = "<br><label>Database</label><input type='text' name='Database' id='Database'></input><br>";
      
          // var user = document.createElement("text");
          // user.innerHTML = "<br><label>user</label><input type='text' name='user' id='user'></input><br>";
      
          // var password = document.createElement("text");
          // password.innerHTML = "<br><label>password</label><input type='password' name='password' id='password'></input><br>";
      
          // var schema_name = document.createElement("text");
          // schema_name.innerHTML = "<br><label>schema_name</label><input type='text' name='schema_name' id='schema_name'></input><br>";
      
          // var source_query_filter = document.createElement("text");
          // source_query_filter.innerHTML = "<br><label>source_query_filter</label><input type='text' name='source_query_filter' id='source_query_filter'></input><br>";
      
      
          // var output_file_path = document.createElement("text");
          // output_file_path.innerHTML = "<br><label>output_file_path</label><input type='text' name='output_file_path' id='output_file_path'></input><br>";
          // div.appendChild(server);
          // div.appendChild(database);
          // div.appendChild(user);
          // div.appendChild(password);
          // div.appendChild(schema_name);
          // div.appendChild(source_query_filter);
      
      }
      </script>
</div>
    </div>
  </header>
{% endblock %}








